@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  font-family:
    "Poppins",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custom styles */
.bg-primary {
  background-color: #3361ff;
}

.bg-shade {
  background-color: rgba(51, 99, 255, 0.02);
}

.bg-shade-darker {
  background-color: rgba(51, 99, 255, 0.1);
}

.text-primary {
  color: #3361ff;
}

.border-primary {
  border-color: rgba(51, 99, 255, 0.4);
}

.border-shade {
  border-color: rgba(51, 99, 255, 0.1);
}

.logo {
  font-family: "Kalam", cursive;
}

.max-width {
  max-width: 1400px;
  margin: 0 auto;
}

.byte-glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

input[type="range"] {
  height: 30px;
  appearance: none;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: hsla(226, 100%, 60%, 0.9);
  border-radius: 50px;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px rgba(51, 99, 255, 0.02);
  border: 1px solid rgba(51, 99, 255, 0.4);
  height: 23px;
  width: 23px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #3361ff;
}
