@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom styles */
.bg-primary {
  background-color: #3361ff;
}

.bg-shade {
  background-color: rgba(51, 99, 255, 0.02);
}

.bg-shade-darker {
  background-color: rgba(51, 99, 255, 0.1);
}

.text-primary {
  color: #3361ff;
}

.border-primary {
  border-color: rgba(51, 99, 255, 0.4);
}

.border-shade {
  border-color: rgba(51, 99, 255, 0.1);
}

.logo {
  font-family: 'Kalam', cursive;
}

.max-width {
  max-width: 1400px;
  margin: 0 auto;
}
